In [ ]:
#Select data from table
SELECT *
FROM browse
LIMIT 10;

In [ ]:
#Combining data
SELECT ROUND(
100.0 * COUNT(DISTINCT c.user_id) /
COUNT(DISTINCT b.user_id)
) AS browse_to_checkout_percent,
ROUND(
100.0 * COUNT(DISTINCT p.user_id) /
COUNT(DISTINCT c.user_id)
) AS checkout_to_purchase_percent
FROM browse b
LEFT JOIN checkout c
	ON b.user_id = c.user_id
LEFT JOIN purchase p
	ON c.user_id = p.user_id;

In [ ]:
# User churn
SELECT COUNT(DISTINCT user_id) AS enrollments,
	COUNT(CASE
       	WHEN strftime("%m", cancel_date) = '03'
        THEN user_id
  END) AS march_cancellations,
 	ROUND(100.0 * COUNT(CASE
       	WHEN strftime("%m", cancel_date) = '03'
        THEN user_id
  END) / COUNT(DISTINCT user_id)) AS churn_rate
FROM pro_users
WHERE signup_date < '2017-04-01'
	AND (
    (cancel_date IS NULL) OR
    (cancel_date > '2017-03-01')
  );

In [ ]:
#Web traffic attribution
SELECT utm_source,
 	COUNT(DISTINCT user_id) AS num_users
FROM page_visits
GROUP BY 1
ORDER BY 2 DESC;

In [ ]:
#Challenge 1
SELECT year, number
FROM babies
WHERE name = 'Lillian'

In [ ]:
#Challenge 2
SELECT DISTINCT name
FROM babies
WHERE name LIKE 'S%'
LIMIT 20

In [ ]:
#Challenge 3
SELECT name, gender, number
FROM babies
WHERE year = '1880'
ORDER BY 3 DESC
LIMIT 10

In [ ]:
#Challenge 4
SELECT *
FROM nomnom
WHERE cuisine = 'Japanese' AND price = '$$'

In [ ]:
#Challenge 5
SELECT *
FROM nomnom
WHERE name LIKE '%noodle%'

In [ ]:
#Challenge 6
SELECT *
FROM nomnom
WHERE health IS NULL;

In [ ]:
#Challenge 7
SELECT title, publisher
FROM news
ORDER BY title

In [ ]:
#Challenge 8
SELECT *
FROM news
WHERE title LIKE '%bitcoin%'

In [ ]:
#Challenge 9
SELECT *
FROM news
WHERE category = 'b'
ORDER BY timestamp DESC
LIMIT 20

In [ ]:
#Fraud Detection
-- 1
-- What are the column names?
SELECT *
FROM transaction_data
LIMIT 10;
-- 2
-- Find the full_names and emails
-- of the transactions listing 20252 as the zip code.
SELECT full_name, email, zip
FROM transaction_data
WHERE zip = 20252;
-- 3
-- Use a query to find the names 
-- and emails associated with these transactions.
SELECT full_name, email
FROM transaction_data
WHERE full_name = 'Art Vandelay' OR full_name LIKE '% der %';
-- 4
-- Find the ip_addresses and emails listed with these transactions.
SELECT ip_address, email
FROM transaction_data
WHERE ip_address LIKE '10.%';
-- 5
-- Find the emails in transaction_data with
-- ‘temp_email.com’ as a domain.
SELECT email
FROM transaction_data
WHERE email LIKE '%temp_email.com';
-- 6
-- The finance department is looking for a specific transaction. 
-- They know that the transaction occurred from an ip address starting 
-- with ‘120.’ and their full name starts with ‘John’.
SELECT *
FROM transaction_data
WHERE full_name LIKE 'John%'
  AND ip_address LIKE '120.%';

In [ ]:
#Customer Segmentation
-- 1
-- What are the column names?
SELECT *
FROM users
LIMIT 20;
-- 2
-- Find the email addresses and birthdays of users whose 
-- birthday is between 1980-01-01 and 1989-12-31.
SELECT email, birthday
FROM users
WHERE birthday BETWEEN '1980-01-01' AND '1989-12-31';
-- 3
-- Find the emails and creation date of users 
-- whose created_at date matches this condition.
SELECT email, created_at
FROM users
WHERE created_at < '2017-05-01';
-- 4
-- Find the emails of the users who received the ‘bears’ test.
SELECT email
FROM users
WHERE test = 'bears';
-- 5
-- Find all the emails of all users who 
-- received a campaign on website BBB.
SELECT email
FROM users
WHERE campaign LIKE 'BBB%';
-- 6
-- Find all the emails of all users who received ad copy 2 in 
-- their campaign.
SELECT email
FROM users
WHERE campaign LIKE '%-2';
-- 7
-- Find the emails for all users who received both a campaign and a test. 
-- These users will have non-empty entries in the 
-- campaign and test columns.
SELECT email
FROM users
WHERE campaign IS NOT NULL 
AND test IS NOT NULL;

In [ ]:
#Burgers Ad
-- 1
-- What are the column names?
SELECT *
FROM orders
LIMIT 10;
-- 2 
-- How recent is this data?
SELECT DISTINCT order_date
FROM orders;
-- 3
-- Instead of selecting all the columns using *, 
-- write a query that selects only the special_instructions column.
-- Limit the result to 20 rows.
SELECT special_instructions
FROM orders
LIMIT 20;
-- 4 
-- Can you edit the query so that we are only 
-- returning the special instructions that are not empty?
SELECT special_instructions
FROM orders
WHERE special_instructions IS NOT NULL
-- 5
-- Let’s go even further and sort the instructions 
-- in alphabetical order (A-Z).
SELECT special_instructions
FROM orders
WHERE special_instructions IS NOT NULL
ORDER BY special_instructions;
-- 6
-- Let’s search for special instructions that have the word ‘sauce’.
-- Are there any funny or interesting ones? 
SELECT special_instructions
FROM orders
WHERE special_instructions LIKE '%sauce%';
-- 7
-- Let’s search for special instructions that have the word ‘door’.
-- Any funny or interesting ones?
SELECT special_instructions
FROM orders
WHERE special_instructions LIKE '%door%';
-- 8
-- Let’s search for special instructions that have the word ‘box’.
-- Any funny or interesting ones?
SELECT special_instructions
FROM orders
WHERE special_instructions LIKE '%box%';
-- 9
-- Instead of just returning the special instructions, also return their order ids.
-- For more readability:
-- Rename id as ‘#’
-- Rename special_instructions as ‘Notes’
SELECT id AS '#',
   special_instructions AS 'Notes'
FROM orders
WHERE special_instructions LIKE '%box%';