In [ ]:
# Select everything from the file celebs
SELECT * 
FROM celebs;

In [ ]:
# Create new table
CREATE TABLE celebs (
   id INTEGER, 
   name TEXT, 
   age INTEGER
);

In [ ]:
# Insert new values to an existing table
INSERT INTO celebs (id, name, age) 
VALUES (1, 'Justin Bieber', 22);