In [ ]:
#Code Challenge 1
SELECT COUNT (*)
FROM users
WHERE email LIKE '%.com'

In [ ]:
#Code Challenge 2
SELECT first_name, COUNT(*) AS 'count'
FROM users
GROUP BY first_name
ORDER BY 2 DESC

In [ ]:
#Code Challenge 3
SELECT ROUND(watch_duration_in_minutes) AS 'duration', 
COUNT(*) AS 'count'
FROM watch_history
GROUP BY 1
ORDER BY 1

In [ ]:
#Code Challenge 4
SELECT user_id, SUM(amount)
FROM payments
WHERE status = 'paid'
GROUP BY user_id
ORDER BY 2 DESC

In [ ]:
#Code Challenge 5
SELECT user_id, SUM(watch_duration_in_minutes)
FROM watch_history
GROUP BY user_id
HAVING SUM(watch_duration_in_minutes) > 400

In [ ]:
#Code Challenge 6
SELECT ROUND(SUM(watch_duration_in_minutes))
FROM watch_history

In [ ]:
#Code Challenge 7
SELECT pay_date, SUM(amount)
FROM payments
WHERE status = 'paid'
GROUP BY pay_date
ORDER BY 2 DESC

In [ ]:
#Code Challenge 8
SELECT AVG(amount)
FROM payments
WHERE status = 'paid'

In [ ]:
#Code Challenge 9
SELECT MAX(watch_duration_in_minutes) AS 'max',
MIN(watch_duration_in_minutes) AS 'min'
FROM watch_history