In [ ]:
#Partition by
SELECT state, 
       year, 
       tempf, 
       tempc, 
       AVG(tempc) OVER (
         PARTITION BY state
         ORDER BY year
       ) 'running_avg_temp'
FROM state_climate;

In [ ]:
#First value
SELECT state, 
       year, 
       tempc, 
       FIRST_VALUE(tempc) OVER (
         PARTITION BY state
         ORDER BY tempc
       ) 'lowest_temp'
FROM state_climate;

In [ ]:
#Last value
SELECT state, 
       year, 
       tempc, 
       LAST_VALUE(tempc) OVER (
         PARTITION BY state
         ORDER BY tempc
         RANGE BETWEEN UNBOUNDED PRECEDING 
         AND  UNBOUNDED FOLLOWING
       ) 'highest_temp'
FROM state_climate;

In [ ]:
#LAG
SELECT state, 
       year, 
       tempc, 
       tempc - LAG(tempc, 1, tempc) 
       OVER (
         PARTITION BY state
         ORDER BY year
        ) AS 'change_in_temp'
FROM state_climate
ORDER BY change_in_temp DESC;

In [ ]:
#Rank I
SELECT state, 
       year, 
       tempc, 
       RANK() OVER (
         ORDER BY tempc
       ) AS 'coldest_rank'
FROM state_climate;

In [ ]:
#Rank II
SELECT state, 
       year, 
       tempc, 
       RANK() OVER (
         PARTITION BY state
         ORDER BY tempc DESC
       ) AS 'warmest_rank'
FROM state_climate;

In [ ]:
#NTILE I
SELECT NTILE(4) OVER (
  PARTITION BY state
  ORDER BY tempc 
) AS 'quartile',
       state, 
       year, 
       tempc
FROM state_climate;

In [ ]:
#NTILE II
SELECT NTILE(5) OVER (
    ORDER BY tempc 
) AS 'quartile',
       state, 
       year, 
       tempc
FROM state_climate;